src/main/mule/ci-cd-mulesoft.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e18d0d8f-b1b5-49ac-85c5-3d0c1401f208" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="ci-cd-mulesoftFlow" doc:id="77801700-16e2-40a8-8b99-37707491a0a6" >
		<http:listener doc:name="Listener" doc:id="99b934fc-c2e0-496f-8bed-d6bc818939ec" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-payload value='#["Funcionando Perfeitamente"]' doc:name="Set Payload" doc:id="596964fe-7df6-46e8-9b0e-e85ed6c6ae68" />
		<logger level="INFO" doc:name="Logger" doc:id="7ce89e37-e253-4740-ad0c-41d958fd2131" message="fim do fluxo"/>
	</flow>
</mule>
